fastapi
uvicorn
streamlit
langchain
langgraph
chromadb
sentence-transformers
transformers
torch
sqlalchemy
bcrypt
python-jose
passlib
pydantic
python-dotenv
pandas
plotly
scikit-learn
joblib
pypdf
langchain-community
langchain-core
langchain-text-splitters
langchain-chroma
langchain-huggingface
ollama
twilio
email-validator